<!DOCTYPE html>
<html>

<head>

</head>
{% extends "layout2.html" %}
 {% block form%}


<form  >
    <h1>         Welcome </h1>
hello
<script src="https://adserver.lyxellabs.com/api/v1/getscript?q=03db1ca1aed5423ebe84d00a521a9248" id="lyxel-ad-03db1ca1aed5423ebe84d00a521a9248"></script>

    <br>
    <br>
  <button  type="submit"class="btn btn-success" formaction="/register">Register</button><br>
  <br>
  
  <br>
  <br>
  <button  type="submit" class="btn btn-danger" formaction="/login">Login</button>
</form>



{%endblock%}


</html>
